@page "/"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="main">
<h1>Blazing Pizzas</h1>
<ul class="pizza-cards">
    @if (specials != null)
    {
        @foreach (var special in specials)
        {
            <li style="background-image: url('@special.ImageUrl');">
                <div class="pizza-info">
                    <span class="title">@special.Name</span>
                        @special.Description
                    <span class="price">@special.GetFormattedBasePrice()</span>
                </div>
            </li>
            @* <li class="pizza-card">
                <div class="pizza-card-image">
                    <img src="{{ $special->image }}" alt="{{ $special->name }}">
                </div>
                <div class="pizza-card-content">
                    <h2 class="pizza-card-name">{{ $special->name }}</h2>
                    <p class="pizza-card-description">{{ $special->description }}</p>
                    <p class="pizza-card-price">{{ $special->price }}</p>
                </div>
            </li> *@
        }  
    }          
</ul>
</div>	
@code {
    List<PizzaSpecial> specials = new();

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }
}